<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_proj2a.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='js/d3_script_2a.js') }}"></script>
</head>
<body>
    <h1>PCA & K-means Dashboard</h1>
    <h2>Breast Cancer Cell Nuclei Characteristics</h2>

    <img src="{{url_for('static', filename='images/Breast cancer Wisc image.jpg')}}" width="20%" height=auto  align="right" />
    <div id="scree-plot"></div>
    <div id="mse-plot"></div>
    <div id="biplot"></div>
    <div id="top-attributes"></div>

    <script>
        window.onload = () => loadDashboard();
    </script>
</body>
</html>

    